@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    
}

h2, a{
    font-family: 'Fraunces', serif;
}
p{
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

/* ================================================ */

#home{
    background-image: url('../imgs/mobile/image-header.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Fraunces', serif;
}

.caption{
    flex-direction: column;
    padding:8rem;
}

.heading{
    letter-spacing: 8px;
    margin-bottom: 3rem;
    text-transform: uppercase;
    font-size: 30px !important;
}
.fa-bars{
    font-size: 32px;
    cursor: pointer;
}
#nav-bar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-links{
    /* position: fixed; */
    opacity: 0;
    z-index: 2;
    background-color: #fff;
    width:80%;
    right:10%;
    top:70%;
    position: absolute;
    /* height: 50vh; */
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition:opacity .5s;
}
.nav-item{
    letter-spacing: 2px;
    font-size:22px;
    font-family: 'Barlow', sans-serif;
    color:#a7abae;
    padding-block: 25px;
    cursor: pointer;
    transition:color .5s;
}
.nav-item:hover{
    color:#000;
}
#uni-color{
    background-color: hsl(51, 100%, 49%);
    border-radius: 40px;
    padding:20px 20px;
    width:70%;
    margin: auto;
    color:#000;
    font-family: 'Fraunces', Arial;
    text-transform: uppercase;
    text-align: center;
    transition:background-color .5s;
}
#uni-color:hover{
    background-color: hsla(51, 100%, 59%, 0.856);
}

/* making media query for desktop */

@media  (min-width:750px) and (max-width: 1440px){
    #home{
        background-image: url('../imgs/desktop/image-header.jpg');
    }
    .logo{
        margin: 0 0  0 20px;
    }
    .caption{
        padding:3rem;
    }
    .fa-bars{
        display:none;
    }

    #nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding:0;
    }
    #nav-links{
        display: flex;
        background-color: transparent;
        width:auto;
        position: static;
        margin: 0 20px 0 0;
        padding: 0;
        opacity:1;
    }
    .nav-item{
        color:#fff;
        margin-inline: 25px;
    }
    #uni-color{
        background-color: #fff;
        width:auto;
        height:fit-content;
        padding:10px 15px;
        font-size: .9rem;
        margin-inline: 0;
        transition: all .4s;
    }
    #uni-color:hover{
        background-color: #56c7ff;
        color:#fff;
    }
}

/* About section */
#about .row .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info h2{
    width:50%;
    text-align: center;
    margin-block: 1.9rem;
}
.info p{
    width:70%;
}
.info a{
    text-decoration: none;
    color:#000;
    margin-block: 3rem;
    font-size:1.4rem;
    position:relative;
}
.red::before,.yellow::before{
    content:'';
    position:absolute;
    width:100%;
    height:5px;
    bottom: 6px;
    border-radius: 5px;
    z-index: -1;
    transition: height .5s;
}
.red::before{
    background-color: hsl(7, 99%, 70%);
}
.yellow::before{
    background-color: hsl(51, 100%, 49%);
}
.yellow:hover::before, .red:hover::before{
    height:8px;
}

/* services section */
.graphic{
    background-image: url('../imgs/mobile/image-graphic-design.jpg');
}
.graphic,.photography{
    background-position: top top;
    width:100%;
    height:160vh;
    background-size: center center;
    background-repeat: no-repeat;
    position: relative;
}

.details{
    text-align: center;
    position: absolute;
    bottom:20%;
    /* left:5%; */

}
.graphic h2, .graphic p{
    color:hsl(167, 40%, 24%)
}
.photography{
    background-image: url('../imgs/mobile/image-photography.jpg');
}
.photography h2,.photography p{
    color:hsl(198, 62%, 26%)
}

.details p{
    width:70%;
    margin: auto;
}
/* Testimonials section */
#testimonials h2:first-child{
    text-transform: uppercase;
    font-size: 1.3rem;
    color:#777;
    padding-block: 5rem;
}
.pic{
    border-radius: 50%;
    width:15%;
    margin-bottom: 2rem;
}
.review{
    width:45%;
    margin:0 auto 2rem;
}
.name{
    font-size:1.5rem;
    margin-bottom: 15px;
}
.job{
    color:#a7abae;
    font-size:.9rem;
    font-weight: bolder;
    margin-bottom: 6rem;
}

/* projects section */

/* footer */
footer{
    background-color: hsl(168, 34%, 41%);
}
footer h2, .footer-link, i{
    color:#25564b;
    cursor:pointer;

}
.footer-links{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block: 3rem;
}

.footer-link{
    font-size:1.5rem;
    font-family: 'Barlow', sans-serif;
    transition: color .4s;
}
i{
    transition: color .4s;
}
.footer-link:hover, i:hover{
    color:#fff;
}



/* making the media query for the desktop view */
@media (min-width:700px) and (max-width: 1440px){
   /* about section */
    #about .row:first-child{
        display: grid;
        grid-template-columns: 1fr 1fr;
        direction: rtl;
    }
    #about .row:nth-child(2){
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #about .row:nth-child(2) .info a {
        text-align: left;
    }
    /* services section */
    #services .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #services .row .graphic,  #services .row .photography{
        height:100vh;
    }
    #services .row .graphic{
        background-image: url('../imgs/desktop/image-graphic-design.jpg');
    }
    #services .row .photography{
        background-image: url('../imgs/desktop/image-photography.jpg');
    }
    #services .row .photography .details{
        bottom:24%;
    }
    /* testimonials section */
    #testimonials .row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-inline: 4rem; 
    }
    .item p{
        width:80%;
    }
    /* projects section */
    #projects{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* footer  */
    .footer-links{
        justify-content: center;
    }
    .footer-link{
        margin-inline: 1rem;
    }
}